# AD
/AD/UT-1 Manejo de ficheros/Actividades/indiceMasaCorporal/nbproject/private/
/AD/UT-1 Manejo de ficheros/Actividades/indiceMasaCorporal/dist/
/AD/UT-1 Manejo de ficheros/Actividades/indiceMasaCorporal/build/

/AD/UT-1 Manejo de ficheros/Actividades/editorTextoTextArea/nbproject/private/
/AD/UT-1 Manejo de ficheros/Actividades/editorTextoTextArea/dist/
/AD/UT-1 Manejo de ficheros/Actividades/editorTextoTextArea/build/

/AD/UT-1 Manejo de ficheros/Actividades/editorTextoHTMLEditor/nbproject/private/
/AD/UT-1 Manejo de ficheros/Actividades/editorTextoHTMLEditor/dist/
/AD/UT-1 Manejo de ficheros/Actividades/editorTextoHTMLEditor/build/

# DAD
/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AUT1_01_Primera_Interfaz_Java/Primera Interfaz Java/nbproject/private/
/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AUT1_01_Primera_Interfaz_Java/Primera Interfaz Java/dist/
/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AUT1_01_Primera_Interfaz_Java/Primera Interfaz Java/build/

/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AEUT1_02_Componentes/gestionHotelera/nbproject/private/
/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AEUT1_02_Componentes/gestionHotelera/dist/
/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AEUT1_02_Componentes/gestionHotelera/build/

/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AUT1_03_Gestion_de_tareas/Gestion tareas/nbproject/private/
/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AUT1_03_Gestion_de_tareas/Gestion tareas/dist/
/DAD/UT-1 Confeccion de interfaces de usuario/Actividades/AUT1_03_Gestion_de_tareas/Gestion tareas/build/

# PGL
/PGL/UT-1 Analisis de tecnologias para aplicaciones en dispositivos moviles/Actividades/GestionBanco/nbproject/private/
/PGL/UT-1 Analisis de tecnologias para aplicaciones en dispositivos moviles/Actividades/GestionBanco/dist/
/PGL/UT-1 Analisis de tecnologias para aplicaciones en dispositivos moviles/Actividades/GestionBanco/build/